<div class="card">
  <mat-card class="example-card">
    <mat-card-title>{{ ad.title }}</mat-card-title>
    <mat-card-subtitle>{{ ad.category }}</mat-card-subtitle>
    <mat-card-content>
      <p>{{ ad.type }}</p>
      <p>{{ ad.description }}</p>
      <p>Likes: {{ ad.likes }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button
        *ngIf="loggedUser.type === 'Individual User'"
        mat-button
        (click)="likeAd(ad.id)"
      >
        LIKE
      </button>
      <button
        *ngIf="loggedUser.type === 'Company'"
        mat-button
        (click)="editAd(ad)"
      >
        Edit
      </button>
      <button
        *ngIf="loggedUser.type === 'Company'"
        mat-button
        (click)="deleteAd(ad.id)"
      >
        Delete
      </button>
    </mat-card-actions>
  </mat-card>
</div>
